@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models;


<div class="card">
<h2>Courses</h2>
<hr />
@if (Model["courses"].Length == 0)
{
  <p>No courses have been added yet!</p>
}
<ul>
  @foreach (Course course in Model["courses"])
  {
    <li>@Html.ActionLink(@course.CourseName, "Details", "Courses", new { id = @course.CourseId}) </li>
  }
</ul>
</div>

<hr />
<div class="card">
<h2>Students</h2>
<hr />
@if(Model["students"].Length == 0)
{
  <p>No students have been added yet</p>
}
<ul>
  @foreach (Student student in Model["students"])
  {
    <li>@Html.ActionLink(@student.StudentName, "Details", "Students", new { id = @student.StudentId })</li>
  }
</ul>
</div>


<hr />
<div class="card">
<h2>Departments</h2>
<hr />
@if(Model["departments"].Length == 0)
{
  <p>No departments have been added yet</p>
}
<ul>
  @foreach (Department department in Model["departments"])
  {
    <li>@Html.ActionLink(@department.DepartmentName, "Details", "Departments", new { id = @department.DepartmentId })</li>
  }
</ul>
</div>
<hr />

<button type="button" class="btn btn-outline-dark btn-lg">@Html.ActionLink("Student List", "Index", "Students")</button>
<button type="button" class="btn btn-outline-dark btn-lg">@Html.ActionLink("Course List", "Index", "Courses")</button>
<button type="button" class="btn btn-outline-dark btn-lg">@Html.ActionLink("Department List", "Index", "Departments")</button>