@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h2>Student Details</h2>

<hr />
<h3>@Html.DisplayNameFor(model => model.StudentName): @Html.DisplayFor(model => model.StudentName)</h3>
<h4>@Html.DisplayNameFor(model => model.Enrollment): @Html.DisplayFor(model => model.Enrollment) </h4>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Student", "Edit", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Delete Student", "Delete", new { id = Model.StudentId })</p>