@{
 Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course;
@using UniversityRegistrar.Models;
@using System.Collections.Generic;

<h2>Course Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.CourseName): @Html.DisplayFor(model => model.CourseName)</h3>
<h4>@Html.DisplayNameFor(model => model.CourseNumber): @Html.DisplayFor(model => model.CourseNumber)</h4>

@if (Model.DepartmentJoinEntities != null && Model.DepartmentJoinEntities.Count > 0)
{
    <h4>Departments:</h4>
    <ul>
    @foreach (var join in Model.DepartmentJoinEntities)
    {
        <li>@join.Department.DepartmentName</li>
        @using (Html.BeginForm("DepartmentDeleteJoin", "Courses"))
      {
        @Html.Hidden("joinId", @join.DepartmentId)
        <input type="submit" value="Delete"/>
    }
    }
    </ul>
}
else
{
    <p>This course does not belong to any departments.</p>
}

@if (Model.JoinEntities != null && Model.JoinEntities.Count > 0)
{
    <h4>Students in this course:</h4>
    <ul>
    @foreach (var join in Model.JoinEntities)
    {
        <li>@join.Student.StudentName</li>
    }
    </ul>
}
else
{
    <p>This course does not have any students enrolled.</p>
}

<p>@Html.ActionLink("Add a Student", "AddStudent", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Course", "Edit", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Delete Course", "Delete", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Add Department", "AddDepartment", new { id = Model.CourseId})</p>